#header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headerItem{
    align-self: center;
    padding:1.2em ;
}
#headerItem h3{
    word-spacing: 0.3em;
}